<h1>Edit dimension</h1>

<%= render :partial => "form" %>

<% if @gallery %>
  <%= link_to 'Back', aadgadmin_gallery_path(@gallery) %>
<% else %>
  <%= link_to 'Back', aadgadmin_dimensions_path %>
<% end %>