<div id="top">
  <h1>Please enter the desired values</h1>
</div>
<div id="leftSide">
  <fieldset>
    <legend>Add Existing Dimension</legend>
      <% if @gallery %>
        <% form_for([@holder, :aadgadmin, @gallery, @dimension]) do %>
          <%= label :dimension_id, 'Choose one' %>
          <div class="div_texbox"><%= collection_select(:dimension, :id, @dimensions, :id, :name) %></div>
          <div class="button_div"><%= submit_tag 'Select', :class => 'buttons' %></div>
        <% end %>
      <% end %>
  </fieldset>
</div>
<%= render :partial => "form" %>