<div id="galleries">
<% @galleries.each do |gallery| %>
    <div class="title"><h3><%= link_to gallery.name, gallery %></h3></div>
    <div class="description"><%= gallery.description %></div>
<% end %>
</div>