<div id="gallery">
  <h1><%= @gallery.name %></h1>

  <% if @gallery_dimension %>
    <% @gallery.images.each do |image| %>
      <%= link_to image.tag(@gallery_dimension.name), gallery_image_path(@gallery, image), :class => 'image' %>
    <% end %>
  <% end %>
  <div style="clear:both;"></div>
  <div class="description">
    <%= @gallery.description %>
  </div>
  <div class="links">
    <%= link_to 'Back', holder_path %>
  </div>
</div>
