<h1><%= @image.name %></h1>

<% @gallery.dimensions.each do |dim| %>
	<%= "#{dim.name}: #{@image.tag(dim.name)}" %><br />
<% end %>

<div id="set_gallery_image">
	<%= link_to_remote('Set as gallery image', :update => 'set_gallery_image', :url => { :controller => :galleries, :action => :js_set_gallery_image, :gallery_id => @gallery.id, :image_id => @image.id }) %><br />
</div>
<%= link_to 'Back', @gallery %>