<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= javascript_include_tag 'prototype' %>
  <title>Dimensioned Gallery Admin: <%= controller.action_name %></title>
  <style type="text/css">
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color:#C7C7C1;
      margin:0px;
      padding:0px;
    }
    a { color: #000; }
    a:visited { color: #666; }
    a:hover { color: #fff; background-color:#000; }
    hr {
      border: 0;
      color: #333;
      background-color: #333;
      height: 1px;
      margin-bottom: 2px;
      margin-top: 25px;
    }
    #notices {
      color: green;
      margin-left: 1px;
    }
    .links {
      width:142px;
      height:32px;
      margin-top:10px;
      margin-right:2px;
      margin-left:1px;
      padding-top:11px;
      padding-left:6px;
      background-color:#CCCCCC;
      float:left;
      display: block;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 115%;
      letter-spacing: -1px;
      font-weight: normal;
      line-height: 1.1;
      color:#666;
    }
    fieldset {
      border:1px dashed #CCC;
      padding:10px;
    }
    legend {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 90%;
      letter-spacing: -1px;
      font-weight: bold;
      line-height: 1.1;
      color:#fff;
      background: #666;
      border: 1px solid #333;
      padding: 2px 6px;
    }
    h1 {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 175%;
      letter-spacing: -1px;
      font-weight: normal;
      line-height: 1.1;
      color:#333;
      margin-left: 1px;
    }
    label {
      width:142px;
      height:32px;
      margin-top:3px;
      margin-right:2px;
      padding-top:11px;
      padding-left:6px;
      background-color:#CCCCCC;
      float:left;
      display: block;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 115%;
      letter-spacing: -1px;
      font-weight: normal;
      line-height: 1.1;
      color:#666;
    }
    .form {
      margin:0;
      padding:0;
    }
    #banner {
      min-width:750px;
      height:110px;
      letter-spacing:-3px;
      background-color:#202020;
      color:#2f2f2f;
      margin:-20px 0px 0px 0px;
      padding:0px 10px 0px 10px;
      font-size:50px;
      text-align:center;
      font-family:Arial, Helvetica, sans-serif;
    }
    #container {
      width:750px;
      margin:auto;
      padding:10px;
      background-color:#F7F7F7;
    }
    #top {
      width:680px;
      height:50px;
    }
    #leftSide {
      width:530px;
      padding-top:30px;
      float:left;
    }
    #rightSide {
      background-color:#fff;
      width:200px;
      padding:5px;
      margin-top:40px;
      float:right;
      border:1px solid #CCC;
      font:normal 12px Arial;
      color:#666666
    }
    .clear {
      clear:both;
    }
    .holder {
      background-color:#fff;

    }
    .div_texbox {
      width:347px;
      float:right;
      background-color:#E6E6E6;
      height:35px;
      margin-top:3px;
      padding-top:5px;
      padding-bottom:3px;
      padding-left:5px;
    }

    .div_textarea {
      width:347px;
      float:right;
      height:165px;
      background-color:#E6E6E6;
      margin-top:3px;
      padding-top:5px;
      padding-bottom:3px;
      padding-left:5px;
    }

    .textbox {
      background: #FFF;
      width:285px;
      font:normal 18px Arial;
      color: #999999;
      padding:3px 19px 3px 5px;

    }
    .textbox:focus, .textbox:hover {
      background-color:#F0FFE6;
    }
    .fieldWithErrors input {
      color:#f00;
    }

    .button_div {
      width:287px;
      float:right;
      background-color:#fff;
      border:1px solid #ccc;
      text-align:right;
      height:35px;
      margin-top:3px;
      padding:5px 32px 3px;
    }
    .buttons {
      background: #e3e3db;
      font-size:12px;
      color: #989070;
      padding: 6px 14px;
      border-width: 2px;
      border-style: solid;
      border-color: #fff #d8d8d0 #d8d8d0 #fff;
      text-decoration: none;
      text-transform:uppercase;
      font-weight:bold;
    }
    a.image {
      float: left;
      display: block;
      border: 1px solid #CCC;
      padding: 4px;
      margin: 1px;
      background-color: #FFF;
    }
    a.image:hover {
      background-color: #D0DFC6;
    }
    .description {
      display: block;
      border: 1px solid #CCC;
      padding: 4px;
      margin: 1px;
      background-color: #FFF;
      width: 738px;
    }
    #dimensions {
      background-color: #FFF;
      margin:1px;
      padding: 4px;
      border: 1px solid #CCC;
    }
    #dimension_list
    {
      font-size: 12px;
      width: 735px;
      text-align: left;
      border-collapse: collapse;
      margin: 0px;
    }
    #dimension_list th
    {
      font-size: 14px;
      font-weight: normal;
      padding: 12px 15px;
      margin:0px;
    }
    #dimension_list td
    {
      padding: 10px 15px;
      border-top: 1px solid #DDD;
      margin:0px;
    }
    .oce-first
    {
      background: #CCC;
      font-size: 17px;
      color:#666;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
    #dimension_list tr:hover td
    {
      background: #E6E6E6;
    }
    #errorExplanation {
      width: 485px;
      border: 2px solid red;
      padding: 7px;
      padding-bottom: 12px;
      margin-bottom: 20px;
      background-color: #fff;
    }

    #errorExplanation h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px;
      background-color: #c00;
      color: #fff;
    }

    #errorExplanation p {
      color: #333;
      margin-bottom: 0;
      padding: 5px;
    }

    #errorExplanation ul li {
      font-size: 12px;
      list-style: square;
    }
  </style>
</head>
<body>
<div id="banner"><span style="font-size:120px;">A</span>cts<span style="font-size:120px;">A</span>s<span style="font-size:120px;">D</span>imensioned<span style="font-size:120px;">G</span>allerY</div>
  <div id="container">
  <div id="notices"><%= flash[:notice] %></div>

  <%= yield %>
  <div class="clear"></div>
</div>

</body>
</html>
